{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "eslint-config-adm-dev-kit"
}